<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDX" version="4.0.1" targetFramework="net47" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net471" />
  <package id="System.Composition" version="1.1.0" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="1.1.0" targetFramework="net471" />
  <package id="System.Composition.Convention" version="1.1.0" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="1.1.0" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="1.1.0" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="1.1.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net471" />
</packages>