<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SlimDX" publicKeyToken="B1B0C32FD1FFE4F9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.11.43" newVersion="4.0.11.43"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
