<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GorgonLibrary.Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GorgonLibrary.Example.Properties.Settings>
            <setting name="ScreenFormat" serializeAs="String">
                <value>BufferRGB888</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="BallCount" serializeAs="String">
                <value>1000</value>
            </setting>
        </GorgonLibrary.Example.Properties.Settings>
    </userSettings>
</configuration>