<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Gorgon.Examples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>      
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
        <Gorgon.Examples.Properties.Settings>
          <setting name="ResourceLocation" serializeAs="String">
            <value>..\..\..\..\..\..\Resources\</value>
          </setting>
          <setting name="Resolution" serializeAs="String">
            <value>1280, 800</value>
          </setting>
          <setting name="IsWindowed" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="PlugInLocation" serializeAs="String">
            <value>..\\..\\..\\..\\..\\..\\PlugIns\\Bin\\{0}</value>
          </setting>
        </Gorgon.Examples.Properties.Settings>
    </applicationSettings>
</configuration>
